.App {
    font-family: 'Inter', sans-serif;
}

.thumbs-wrapper {
    display: none;
}

.carousel-root {
    margin-top: 10px;
    width: 40vw;
    max-height: 50vh;
}

.carousel-root img {
    object-fit: scale-down;
}