.search {
    padding-left: 394px;
}

.search_bar {
    padding-left: 5px
}

.react-geocoder {
    color: black;
}

.react-geocoder-results {
    font-size: 15px;
}

.react-geocoder-item {
    font: 1em sans-serif;
}