.search {
    padding-left: 100px;
}

.search_bar {
    padding-left: 5px;
}
.mapStyles{
    margin-left: 30px;
}
.maps {
    margin-left: 30px;
}

.react-geocoder {
    color: black;
}

.react-geocoder-results {
    font-size: 15px;
}

.react-geocoder-item {
    font: 1em sans-serif;
}